http:
  routers:

    # ------------------------------------------------------------
    # Apps outside Docker
    # ------------------------------------------------------------

    wgdashboard:
      entryPoints:
        - https
      rule: "Host(`wgdashboard.home.gonsa.org`)"
      middlewares:
        - ip-whitelist
      tls: {}
      service: wgdashboard

    nextcloud:
      entryPoints:
        - https
      rule: "Host(`cloud.gonsa.org`)"
      tls:
        certResolver: cloudflare
      middlewares:
        - nextcloud-headers
        - rate-limit
      service: nextcloud

    router_home:
      rule: "Host(`router.home`)"
      entryPoints:
        - http
      service: router_home

    fileserver_home:
      rule: "Host(`fileserver.home`)"
      entryPoints:
        - http
      service: fileserver_home

    pi-hole:
      entryPoints:
        - https
      rule: "Host(`pi-hole.home.gonsa.org`)"
      middlewares:
        - ip-whitelist
      tls: {}
      service: pi-hole

    dietpi-hole:
      entryPoints:
        - https
      rule: "Host(`dietpi-hole.home.gonsa.org`)"
      middlewares:
        - ip-whitelist
      tls: {}
      service: dietpi-hole

    upsnap:
      entryPoints:
        - https
      rule: "Host(`upsnap.home.gonsa.org`)"
      middlewares:
        - ip-whitelist
      tls: {}
      service: upsnap

    uptime-kuma:
      entryPoints:
        - https
      rule: "Host(`uptime-kuma.home.gonsa.org`)"
      middlewares:
        - ip-whitelist
      tls: {}
      service: uptime-kuma

    home-assistant:
      entryPoints:
        - https
      rule: "Host(`ha.gonsa.org`)"
      tls:
        certResolver: cloudflare
      service: home-assistant

  # ------------------------------------------------------------
  # Services
  # ------------------------------------------------------------

  services:
    wgdashboard:
      loadBalancer:
        servers:
          - url: "http://192.168.1.92:10086"

    nextcloud:
      loadBalancer:
        servers:
          - url: "https://192.168.1.76"

    router_home:
      loadBalancer:
        servers:
          - url: "http://192.168.1.1"

    fileserver_home:
      loadBalancer:
        serversTransport: internal-insecure
        servers:
          - url: "https://192.168.1.77:12321"

    pi-hole:
      loadBalancer:
        servers:
          - url: "http://192.168.1.98:8080/admin/"

    dietpi-hole:
      loadBalancer:
        servers:
          - url: "http://192.168.1.88:8080/admin/"

    upsnap:
      loadBalancer:
        servers:
          - url: "http://192.168.1.88:8090"

    uptime-kuma:
      loadBalancer:
        servers:
          - url: "http://192.168.1.88:3001"

    home-assistant:
      loadBalancer:
        servers:
          - url: "http://192.168.1.168:8123"

  # ------------------------------------------------------------
  # Backend TLS transports
  # ------------------------------------------------------------

  serversTransports:

    internal-insecure:
      insecureSkipVerify: true

  # ------------------------------------------------------------
  # Middlewares
  # ------------------------------------------------------------

  middlewares:

    nextcloud-headers:
      headers:
        referrerPolicy: "same-origin"

    ip-whitelist:
      ipAllowList:
        sourceRange:
          - "192.168.0.0/16"

    rate-limit:
      rateLimit:
        average: 50 # Allow 50 requests per second on average per client IP
        burst: 100   # Allow short spikes of up to 100 requests at once, before throttling kicks in

    crowdsec-bouncer:
      forwardAuth:
        address: http://bouncer-traefik:8080/api/v1/forwardAuth
        trustForwardHeader: true