POSTGRES_PASSWORD=
PAPERLESS_SECRET_KEY=
PAPERLESS_ADMIN_PASSWORD=
PAPERLESS_OIDC_CLIENT_ID=a
PAPERLESS_OIDC_CLIENT_SECRET=
PAPERLESS_SOCIALACCOUNT_PROVIDERS={"openid_connect":{"OAUTH_PKCE_ENABLED":true,"APPS":[{"provider_id":"authentik","name":"Authentik","client_id":"YOUR_PAPERLESS_OIDC_CLIENT_ID","secret":"YOUR_PAPERLESS_OIDC_CLIENT_SECRET","settings":{"server_url":"https://authentik.gonsa.org/application/o/paperless/.well-known/openid-configuration","fetch_userinfo":true}}],"SCOPE":["openid","profile","email"]}}
PAPERLESS_API_TOKEN=
