# Credentials for Traefik dashboard
TRAEFIK_DASHBOARD_CREDENTIALS=<username>:<$$xx$$xxxxxxxxxxxxxxxxxxxxxx>

#Username and password for public websites
TRAEFIK_AUTH_CREDENTIALS=<username:$$xx$$xxxxxxxxxxxxxxxxxxxxxxxxxxx>