api:
  dashboard: true
  debug: true
#  insecure: true #dashboard unsecured

entryPoints:
  http:
    address: :80
    forwardedHeaders:
      trustedIPs:
      #local:
        - 192.168.1.147
        - 127.0.0.1/32
      #Cloudflare IPs
        - 173.245.48.0/20
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 141.101.64.0/18
        - 108.162.192.0/18
        - 190.93.240.0/20
        - 188.114.96.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 162.158.0.0/15
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 172.64.0.0/13
        - 131.0.72.0/22
        - 94.62.57.197
    http:
      middlewares:
        - crowdsec-bouncer@file

#     Make traefik redirect all traffic from http to https
#       redirections:
#         entryPoint:
#           to: https
#           scheme: https
  https:
    address: :443
    forwardedHeaders:
      trustedIPs:
      #local:
        - 192.168.1.147
        - 127.0.0.1/32
      #Cloudflare IPs
        - 173.245.48.0/20
        - 103.21.244.0/22
        - 103.22.200.0/22
        - 103.31.4.0/22
        - 141.101.64.0/18
        - 108.162.192.0/18
        - 190.93.240.0/20
        - 188.114.96.0/20
        - 197.234.240.0/22
        - 198.41.128.0/17
        - 162.158.0.0/15
        - 104.16.0.0/13
        - 104.24.0.0/14
        - 172.64.0.0/13
        - 131.0.72.0/22

    http:
      middlewares:
        - crowdsec-bouncer@file

# Section for immich be able to upload videos until 10 minutes. Increase if needed.
    transport:
      respondingTimeouts:
        readTimeout: 600s
        idleTimeout: 600s
        writeTimeout: 600s

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false

  file:
    directory: /conf
    watch: true

certificatesResolvers:
  cloudflare:
    acme:
      email: youremail@example.com
      storage: /conf/acme.json
      caServer: https://acme-v02.api.letsencrypt.org/directory # prod (default)
   #  caServer: https://acme-staging-v02.api.letsencrypt.org/directory # staging
      dnsChallenge:
        provider: cloudflare
        #disablePropagationCheck: true # uncomment this if you have issues pulling certificates through cloudflare, By setting this flag to true disables the need to wait for the propagation of the TXT record to all authoritative name servers.
        #delayBeforeCheck: 60s # uncomment along with disablePropagationCheck if needed to ensure the TXT record is ready before verification is attempted
        resolvers:
          - "1.1.1.1:53"
          - "1.0.0.1:53"

log:
  level: "INFO"
  filePath: "/var/log/traefik/traefik.log"
accessLog:
  filePath: "/var/log/traefik/access.log"

tls:
  options:
    default:
    #Some very old devices, IoT hardware, or legacy software may not support TLS 1.2
      minVersion: VersionTLS12
      sniStrict: true

serversTransport:
  insecureSkipVerify: true